{
  "openapi": "3.0.4",
  "info": {
    "title": "LaudusAPI",
    "description": "This is a Web API for Laudus ERP",
    "termsOfService": "https://laudus.cl//TermsOfService",
    "contact": {
      "name": "Laudus",
      "url": "https://laudus.cl//",
      "email": "info@laudus.cl"
    },
    "license": {
      "name": "@2026 - Todos los derechos reservados"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.laudus.cl/"
    }
  ],
  "paths": {
    "/accounting/accounts/{accountId}": {
      "get": {
        "tags": [
          "Accounting/Accounts"
        ],
        "summary": "Obtiene una cuenta",
        "description": "",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Accounting/Accounts"
        ],
        "summary": "Modifica una cuenta existente",
        "description": "",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AccountDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Accounting/Accounts"
        ],
        "summary": "Elimina una cuenta",
        "description": "",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/accounting/accounts": {
      "post": {
        "tags": [
          "Accounting/Accounts"
        ],
        "summary": "Crea una nueva cuenta",
        "description": "",
        "operationId": "Accounting/Accounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AccountDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDto"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/accounts/list": {
      "post": {
        "tags": [
          "Accounting/Accounts"
        ],
        "summary": "Lista cuentas con paginación, filtros, selección de campos, ordenamiento. Retorna Json, XML y CSV",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/accountTypes/{accountTypeId}": {
      "get": {
        "tags": [
          "Accounting/AccountTypes"
        ],
        "summary": "Obtiene un tipo de cuentas",
        "description": "",
        "parameters": [
          {
            "name": "accountTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTypeDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTypeDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Accounting/AccountTypes"
        ],
        "summary": "Modifica un tipo de cuentas existente",
        "description": "",
        "parameters": [
          {
            "name": "accountTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountTypeDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AccountTypeDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTypeDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTypeDto"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/accountTypes/list": {
      "post": {
        "tags": [
          "Accounting/AccountTypes"
        ],
        "summary": "Lista tipos de cuentas con paginación, filtros, selección de campos, ordenamiento. Retorna Json, XML y CSV",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/balanceSheet/totals": {
      "get": {
        "tags": [
          "Accounting/BalanceSheet"
        ],
        "summary": "Balance (Totales)",
        "description": "",
        "parameters": [
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "showAccountsWithZeroBalance",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showOnlyAccountsWithActivity",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showLevels",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "costCenterId",
            "in": "query",
            "schema": {
              "maxLength": 3,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "bookId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceSheetTotalsDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceSheetTotalsDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounting/balanceSheet/standard": {
      "get": {
        "tags": [
          "Accounting/BalanceSheet"
        ],
        "summary": "Balance (Standard)",
        "description": "",
        "parameters": [
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "showAccountsWithZeroBalance",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showOnlyAccountsWithActivity",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showLevels",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "costCenterId",
            "in": "query",
            "schema": {
              "maxLength": 3,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "bookId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceSheetStandardDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceSheetStandardDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounting/balanceSheet/8Columns": {
      "get": {
        "tags": [
          "Accounting/BalanceSheet"
        ],
        "summary": "Balance (8 Columnas)",
        "description": "",
        "parameters": [
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "showAccountsWithZeroBalance",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showOnlyAccountsWithActivity",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showLevels",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "costCenterId",
            "in": "query",
            "schema": {
              "maxLength": 3,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "bookId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceSheet8ColumnsDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceSheet8ColumnsDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounting/banks/{bankId}": {
      "get": {
        "tags": [
          "Accounting/Banks"
        ],
        "summary": "Obtiene un banco",
        "description": "",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BankDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Accounting/Banks"
        ],
        "summary": "Modifica un banco existente",
        "description": "",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BankDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BankDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Accounting/Banks"
        ],
        "summary": "Elimina un banco",
        "description": "",
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/accounting/banks": {
      "post": {
        "tags": [
          "Accounting/Banks"
        ],
        "summary": "Crea un nuevo banco",
        "description": "",
        "operationId": "Accounting/Banks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BankDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BankDto"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/banks/list": {
      "post": {
        "tags": [
          "Accounting/Banks"
        ],
        "summary": "Lista bancos con paginación, filtros, selección de campos, ordenamiento. Retorna Json, XML y CSV",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/bankStatements/{bankStatementId}": {
      "get": {
        "tags": [
          "Accounting/BankStatements"
        ],
        "summary": "Obtiene una cartola bancaria",
        "description": "",
        "parameters": [
          {
            "name": "bankStatementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankStatementDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BankStatementDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Accounting/BankStatements"
        ],
        "summary": "Modifica una cartola bancaria existente",
        "description": "",
        "parameters": [
          {
            "name": "bankStatementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankStatementDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BankStatementDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankStatementDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BankStatementDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Accounting/BankStatements"
        ],
        "summary": "Elimina una cartola bancaria",
        "description": "",
        "parameters": [
          {
            "name": "bankStatementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/accounting/bankStatements": {
      "post": {
        "tags": [
          "Accounting/BankStatements"
        ],
        "summary": "Crea una nueva cartola bancaria",
        "description": "",
        "operationId": "Accounting/BankStatements",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankStatementDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BankStatementDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankStatementDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BankStatementDto"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/bankStatements/list": {
      "post": {
        "tags": [
          "Accounting/BankStatements"
        ],
        "summary": "Lista cartolas bancarias con paginación, filtros, selección de campos, ordenamiento. Retorna Json, XML y CSV",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/currencies/{currencyId}": {
      "get": {
        "tags": [
          "Accounting/Currencies"
        ],
        "summary": "Obtiene una moneda",
        "description": "",
        "parameters": [
          {
            "name": "currencyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Accounting/Currencies"
        ],
        "summary": "Modifica una moneda existente",
        "description": "",
        "parameters": [
          {
            "name": "currencyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Accounting/Currencies"
        ],
        "summary": "Elimina una moneda",
        "description": "",
        "parameters": [
          {
            "name": "currencyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/accounting/currencies": {
      "post": {
        "tags": [
          "Accounting/Currencies"
        ],
        "summary": "Crea una nueva moneda",
        "description": "",
        "operationId": "Accounting/Currencies",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDto"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/currencies/list": {
      "post": {
        "tags": [
          "Accounting/Currencies"
        ],
        "summary": "Lista monedas con paginación, filtros, selección de campos, ordenamiento. Retorna Json, XML y CSV",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/currencies/{currencyId}/parities/{parityId}": {
      "get": {
        "tags": [
          "Accounting/Currencies/Parities"
        ],
        "summary": "Obtiene una paridad",
        "description": "",
        "parameters": [
          {
            "name": "currencyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParityDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ParityDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Accounting/Currencies/Parities"
        ],
        "summary": "Modifica una paridad existente",
        "description": "",
        "parameters": [
          {
            "name": "currencyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParityDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ParityDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParityDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ParityDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Accounting/Currencies/Parities"
        ],
        "summary": "Elimina una paridad",
        "description": "",
        "parameters": [
          {
            "name": "currencyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/accounting/currencies/{currencyId}/parities": {
      "post": {
        "tags": [
          "Accounting/Currencies/Parities"
        ],
        "summary": "Crea una nueva paridad",
        "description": "",
        "parameters": [
          {
            "name": "currencyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParityDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ParityDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParityDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ParityDto"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/currencies/parities/list": {
      "post": {
        "tags": [
          "Accounting/Currencies/Parities"
        ],
        "summary": "Lista paridades con paginación, filtros, selección de campos, ordenamiento. Retorna Json, XML y CSV",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/journal/entries/{journalEntryId}": {
      "get": {
        "tags": [
          "Accounting/Journal/Entries"
        ],
        "summary": "Obtiene un comprobante",
        "description": "",
        "parameters": [
          {
            "name": "journalEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalEntryDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/JournalEntryDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Accounting/Journal/Entries"
        ],
        "summary": "Modifica un comprobante existente",
        "description": "",
        "parameters": [
          {
            "name": "journalEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JournalEntryDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/JournalEntryDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalEntryDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/JournalEntryDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Accounting/Journal/Entries"
        ],
        "summary": "Elimina un comprobante",
        "description": "",
        "parameters": [
          {
            "name": "journalEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/accounting/journal/entries": {
      "post": {
        "tags": [
          "Accounting/Journal/Entries"
        ],
        "summary": "Crea un nuevo comprobante",
        "description": "",
        "operationId": "Accounting/Journal/Entries",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JournalEntryDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/JournalEntryDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalEntryDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/JournalEntryDto"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/journal/entries/list": {
      "post": {
        "tags": [
          "Accounting/Journal/Entries"
        ],
        "summary": "Lista comprobantes con paginación, filtros, selección de campos, ordenamiento. Retorna Json, XML y CSV",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/journal/entries/reorderNumbers": {
      "post": {
        "tags": [
          "Accounting/Journal/Entries"
        ],
        "summary": "Renumera los comprobantes a partir de una fecha establecida",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JournalEntriesReorderNumbersParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/accounting/ledger": {
      "get": {
        "tags": [
          "Accounting/Ledger"
        ],
        "summary": "Mayor",
        "description": "",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "accountNumberFrom",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountNumberTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "costCenterId",
            "in": "query",
            "schema": {
              "maxLength": 3,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "bookId",
            "in": "query",
            "schema": {
              "maxLength": 1,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LedgerDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LedgerDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounting/ledger/grouped": {
      "get": {
        "tags": [
          "Accounting/Ledger"
        ],
        "summary": "Mayor Agrupado por Día, Mes o Año",
        "description": "",
        "parameters": [
          {
            "name": "groupBy",
            "in": "query",
            "schema": {
              "enum": [
                "none",
                "day",
                "month",
                "year"
              ],
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "accountNumberFrom",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountNumberTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "costCenterId",
            "in": "query",
            "schema": {
              "maxLength": 3,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "bookId",
            "in": "query",
            "schema": {
              "maxLength": 1,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LedgerGroupedDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LedgerGroupedDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounting/profitAndLoss": {
      "get": {
        "tags": [
          "Accounting/ProfitAndLoss"
        ],
        "summary": "Obtiene el listado de la cuenta de pérdidas y ganancias",
        "description": "",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "showAccountsWithZeroBalance",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showOnlyAccountsWithActivity",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showLevels",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "costCenterId",
            "in": "query",
            "schema": {
              "maxLength": 3,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "bookId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProfitAndLossDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProfitAndLossDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounting/reconciliation/bankStatementNotInJournal": {
      "get": {
        "tags": [
          "Accounting/Reconciliation"
        ],
        "summary": "Retorna los movimientos de la cartola que no están en la contabilidad del banco",
        "description": "",
        "parameters": [
          {
            "name": "bankStatementId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeOtherBankStatements",
            "in": "query",
            "schema": {
              "enum": [
                "None",
                "All",
                "Previous"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankStatementReconciliationByBankStatementDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BankStatementReconciliationByBankStatementDto"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/reconciliation/journalNotInBankStatement": {
      "get": {
        "tags": [
          "Accounting/Reconciliation"
        ],
        "summary": "Retorna los movimientos de la contabilidad del banco que no están en la cartola",
        "description": "",
        "parameters": [
          {
            "name": "bankStatementId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeOtherBankStatements",
            "in": "query",
            "schema": {
              "enum": [
                "None",
                "All",
                "Previous"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankStatementReconciliationByJournalEntryDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BankStatementReconciliationByJournalEntryDto"
                }
              }
            }
          }
        }
      }
    },
    "/accounting/relatedTo": {
      "get": {
        "tags": [
          "Accounting/RelatedTo"
        ],
        "summary": "Lista de Relacionados (Clientes, Proveedores, Empleados y Contactos con el mismo VATId)",
        "description": "",
        "operationId": "Accounting/RelatedTo",
        "parameters": [
          {
            "name": "VATId",
            "in": "query",
            "required": true,
            "schema": {
              "maxLength": 15,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "schema": {
              "maxLength": 2,
              "minLength": 0,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedToVATIdDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedToVATIdDto"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/security/validateToken": {
      "get": {
        "tags": [
          "Accounts/Security"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/DTE/sendToSII": {
      "post": {
        "tags": [
          "DTE"
        ],
        "summary": "Envía el documento al SII",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTEDocsListParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTESendToSIIDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DTESendToSIIDto"
                }
              }
            }
          }
        }
      }
    },
    "/DTE/sendEmail": {
      "post": {
        "tags": [
          "DTE"
        ],
        "summary": "Envía el documento por email al destinatario",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTESendEmailParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/DTE/pending": {
      "get": {
        "tags": [
          "DTE"
        ],
        "summary": "Consulta DTEs pendientes",
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DTEPendingDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DTEPendingDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/DTE/status": {
      "post": {
        "tags": [
          "DTE"
        ],
        "summary": "Consulta estado de DTEs",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTEDocsListParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DTEStatusDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DTEStatusDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/DTE/TED": {
      "get": {
        "tags": [
          "DTE"
        ],
        "summary": "Obtener el timbre electrónico de un documento",
        "description": "",
        "parameters": [
          {
            "name": "docNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "docTypeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TEDInfoDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TEDInfoDto"
                }
              }
            }
          }
        }
      }
    },
    "/DTE/TED/pdf417": {
      "get": {
        "tags": [
          "DTE"
        ],
        "summary": "Obtener la imagen en PDF417 del timbre electrónico de un documento",
        "description": "",
        "parameters": [
          {
            "name": "docNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "docTypeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "contentDisposition",
            "in": "query",
            "description": "<b>Parameter Values</b><ul><li>inline = stream de datos</li><li>attachment = descarga el pdf</li></ul>",
            "schema": {
              "type": "string",
              "default": "attachment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Generate stream or image file",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/HR/AFPs/{AFPId}": {
      "get": {
        "tags": [
          "HR/AFPs"
        ],
        "summary": "Obtiene una AFP",
        "description": "",
        "parameters": [
          {
            "name": "AFPId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AFPDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AFPDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "HR/AFPs"
        ],
        "summary": "Modifica una AFP existente",
        "description": "",
        "parameters": [
          {
            "name": "AFPId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AFPDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AFPDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AFPDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AFPDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HR/AFPs"
        ],
        "summary": "Elimina una AFP",
        "description": "",
        "parameters": [
          {
            "name": "AFPId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/HR/AFPs": {
      "post": {
        "tags": [
          "HR/AFPs"
        ],
        "summary": "Crea una nueva AFP",
        "description": "",
        "operationId": "HR/AFPs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AFPDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AFPDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AFPDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AFPDto"
                }
              }
            }
          }
        }
      }
    },
    "/HR/AFPs/list": {
      "post": {
        "tags": [
          "HR/AFPs"
        ],
        "summary": "Lista AFPs con paginación, filtros, selección de campos, ordenamiento. Retorna Json, XML y CSV",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/HR/CCAFs/{CCAFId}": {
      "get": {
        "tags": [
          "HR/CCAFs"
        ],
        "summary": "Obtiene una CCAF",
        "description": "",
        "parameters": [
          {
            "name": "CCAFId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CCAFDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CCAFDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "HR/CCAFs"
        ],
        "summary": "Modifica una CCAF existente",
        "description": "",
        "parameters": [
          {
            "name": "CCAFId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CCAFDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CCAFDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CCAFDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CCAFDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HR/CCAFs"
        ],
        "summary": "Elimina una CCAF",
        "description": "",
        "parameters": [
          {
            "name": "CCAFId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/HR/CCAFs": {
      "post": {
        "tags": [
          "HR/CCAFs"
        ],
        "summary": "Crea una nueva CCAF",
        "description": "",
        "operationId": "HR/CCAFs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CCAFDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CCAFDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CCAFDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CCAFDto"
                }
              }
            }
          }
        }
      }
    },
    "/HR/CCAFs/list": {
      "post": {
        "tags": [
          "HR/CCAFs"
        ],
        "summary": "Lista CCAFs con paginación, filtros, selección de campos, ordenamiento. Retorna Json, XML y CSV",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/HR/employees/{employeeId}": {
      "get": {
        "tags": [
          "HR/Employees"
        ],
        "summary": "Obtiene un empleado",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "HR/Employees"
        ],
        "summary": "Modifica un empleado existente",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HR/Employees"
        ],
        "summary": "Elimina un empleado",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/HR/employees": {
      "post": {
        "tags": [
          "HR/Employees"
        ],
        "summary": "Crea un nuevo empleado",
        "description": "",
        "operationId": "HR/Employees",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDto"
                }
              }
            }
          }
        }
      }
    },
    "/HR/employees/list": {
      "post": {
        "tags": [
          "HR/Employees"
        ],
        "summary": "Lista empleados con paginación, filtros, selección de campos, ordenamiento. Retorna Json, XML y CSV",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/HR/employees/{employeeId}/absences/{absenceId}": {
      "get": {
        "tags": [
          "HR/Employees/Absences"
        ],
        "summary": "Obtiene una ausencia",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "absenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeAbsenceDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeAbsenceDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "HR/Employees/Absences"
        ],
        "summary": "Modifica una ausencia existente",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "absenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeAbsenceDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeAbsenceDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeAbsenceDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeAbsenceDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HR/Employees/Absences"
        ],
        "summary": "Elimina una ausencia",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "absenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/HR/employees/{employeeId}/absences": {
      "post": {
        "tags": [
          "HR/Employees/Absences"
        ],
        "summary": "Crea una nueva ausencia",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeAbsenceDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeAbsenceDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeAbsenceDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeAbsenceDto"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "HR/Employees/Absences"
        ],
        "summary": "Lista ausencias con paginación, filtros, selección de campos, ordenamiento. Retorna Json, XML y CSV",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeAbsenceDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeAbsenceDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/HR/employees/contracts/templates/{templateId}": {
      "get": {
        "tags": [
          "HR/Employees/Contracts/Templates"
        ],
        "summary": "Obtiene una plantilla",
        "description": "",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "HR/Employees/Contracts/Templates"
        ],
        "summary": "Modifica una plantilla existente",
        "description": "",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/TemplateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HR/Employees/Contracts/Templates"
        ],
        "summary": "Elimina una plantilla",
        "description": "",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/HR/employees/contracts/templates": {
      "post": {
        "tags": [
          "HR/Employees/Contracts/Templates"
        ],
        "summary": "Crea una nueva plantilla",
        "description": "",
        "operationId": "HR/Employees/Contracts/Templates",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/TemplateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDto"
                }
              }
            }
          }
        }
      }
    },
    "/HR/employees/contracts/templates/list": {
      "post": {
        "tags": [
          "HR/Employees/Contracts/Templates"
        ],
        "summary": "Lista plantillas con paginación, filtros, selección de campos, ordenamiento. Retorna Json, XML y CSV",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/HR/employees/contracts/templates/variables": {
      "post": {
        "tags": [
          "HR/Employees/Contracts/Templates"
        ],
        "summary": "Obtiene la lista de las variables que se pueden usar en la definición de las plantillas",
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractEmployeeVariableDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractEmployeeVariableDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/HR/employees/contracts/templates/{templateId}/pdf": {
      "get": {
        "tags": [
          "HR/Employees/Contracts/Templates"
        ],
        "summary": "Obtiene el contrato en PDF luego de convertir las variables de una plantilla",
        "description": "",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "employeeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "contentDisposition",
            "in": "query",
            "description": "<b>Parameter Values</b><ul><li>inline = stream de datos</li><li>attachment = descarga el pdf</li></ul>",
            "schema": {
              "type": "string",
              "default": "attachment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Generate stream or pdf file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/HR/employees/{employeeId}/contractTerminations/{contractTerminationId}": {
      "get": {
        "tags": [
          "HR/Employees/ContractTerminations"
        ],
        "summary": "Obtiene un finiquito",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "contractTerminationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeContractTerminationDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeContractTerminationDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "HR/Employees/ContractTerminations"
        ],
        "summary": "Modifica un finiquito existente",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "contractTerminationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeContractTerminationDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeContractTerminationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeContractTerminationDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeContractTerminationDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HR/Employees/ContractTerminations"
        ],
        "summary": "Elimina un finiquito",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "contractTerminationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/HR/employees/{employeeId}/contractTerminations": {
      "post": {
        "tags": [
          "HR/Employees/ContractTerminations"
        ],
        "summary": "Crea un nuevo finiquito",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeContractTerminationDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeContractTerminationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeContractTerminationDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeContractTerminationDto"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "HR/Employees/ContractTerminations"
        ],
        "summary": "Lista finiquitos con paginación, filtros, selección de campos, ordenamiento. Retorna Json, XML y CSV",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeContractTerminationDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeContractTerminationDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/HR/employees/{employeeId}/history/{historyId}": {
      "get": {
        "tags": [
          "HR/Employees/History"
        ],
        "summary": "Obtiene una historia",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "historyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeHistoryDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeHistoryDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "HR/Employees/History"
        ],
        "summary": "Modifica una historia existente",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "historyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeHistoryDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeHistoryDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeHistoryDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeHistoryDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HR/Employees/History"
        ],
        "summary": "Elimina una historia",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "historyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/HR/employees/{employeeId}/history": {
      "post": {
        "tags": [
          "HR/Employees/History"
        ],
        "summary": "Crea una nueva historia",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeHistoryDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeHistoryDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeHistoryDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeHistoryDto"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "HR/Employees/History"
        ],
        "summary": "Lista historial con paginación, filtros, selección de campos, ordenamiento. Retorna Json, XML y CSV",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeHistoryDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeHistoryDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/HR/employees/{employeeId}/loans/{loanId}": {
      "get": {
        "tags": [
          "HR/Employees/Loans"
        ],
        "summary": "Obtiene un préstamo",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeLoanDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeLoanDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "HR/Employees/Loans"
        ],
        "summary": "Modifica un préstamo existente",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeLoanDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeLoanDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeLoanDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeLoanDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HR/Employees/Loans"
        ],
        "summary": "Elimina un préstamo",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/HR/employees/{employeeId}/loans": {
      "post": {
        "tags": [
          "HR/Employees/Loans"
        ],
        "summary": "Crea un nuevo préstamo",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeLoanDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeLoanDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeLoanDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeLoanDto"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "HR/Employees/Loans"
        ],
        "summary": "Lista préstamos con paginación, filtros, selección de campos, ordenamiento. Retorna Json, XML y CSV",
        "description": "",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeLoanDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
[...]
