# Plantilla base.
# Para local: usar .env.local.example
# Para servidor: usar .env.server.example

PORT=9000
DB_URL=postgresql://monstruo:monstruo@db:5432/monstruo
SECRET_KEY=replace_me
COOKIE_DOMAIN=
COOKIE_SECURE=0
LAUDUS_BASE_URL=https://api.laudus.cl
LAUDUS_USERNAME=
LAUDUS_PASSWORD=
LAUDUS_COMPANY_VAT_ID=
