# MONSTRUO - Servidor/Produccion
PORT=9000
DB_URL=postgresql://monstruo:monstruo@db:5432/monstruo

# Seguridad produccion
SECRET_KEY=replace_with_a_long_random_secret
COOKIE_DOMAIN=.telconsulting.cl
COOKIE_SECURE=1

# Integraciones Laudus
LAUDUS_BASE_URL=https://api.laudus.cl
LAUDUS_USERNAME=replace_me
LAUDUS_PASSWORD=replace_me
LAUDUS_COMPANY_VAT_ID=replace_me
